---
---

header {
   background: unset;
   background: black!important;
   h1 {
      color: white!important;
   }
}

#banner {
   background: unset;
   background: cornflowerblue!important;
}

@import "{{ site.theme }}";
